.quizBase{
    margin: 40px;
    text-align: center;
}

.quizBase h1{
    font-weight: bold;
}

.quizTitleContainer{
    width: 100%;
    margin-top: 30px;
}

.quizTitleContainer input, textarea{
    font-size: 18px !important;
}

