.quizImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px !important;
}

.btn{
    margin-top: 40px !important;
    font-size: 18px;
}

.authorSec{
    text-align: center !important;
    color: black;
    padding:15px;
    font-size: 16px;
    border: 2px dashed green;
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {
    .quizImg{
        max-height: 300px;
        max-width: 200px;

    }
}
